.mint-field-core{
    font-size: .32rem;
}
.mintui{
    font-size: .36rem;
}
.pwd-style .mint-field-clear{
    margin-right: .5rem;
}
.mint-cell-wrapper{
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
.pwd-style .mint-field-state .mintui{
    margin-left: -.8rem;
}
 .mint-field-state .mintui{
    font-size: .3rem;
}
